
.about-image{
    height: 380px;
    width: auto;
    margin-top: 39px;
}
.brand-image{
    height: 130px;
    width: auto;
    border-radius: 50%;
}
.error-message{
    font-size: 14px;
    color: #dc3545;
    font-weight: 500;
}


.file {
    position: relative;
    display: flex;
}
  
  .file > input[type='file'] {
    display: none
  }
  
  .file > label {
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 29%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .file > label:hover {
    border-color: hsl(0, 0%, 21%);
  }
  
  .file > label:active {
    background-color: hsl(0, 0%, 96%);
  }
  
  .file > label > i {
    padding-right: 5px;
  }
  
  .file--upload > label {
    color: hsl(204, 86%, 53%);
    border-color: hsl(204, 86%, 53%);
  }
  
  .file--upload > label:hover {
    border-color: hsl(204, 86%, 53%);
    background-color: hsl(204, 86%, 96%);
  }
  
  .file--upload > label:active {
    background-color: hsl(204, 86%, 91%);
  }
  
  .file--disabled {
    cursor: not-allowed;
  }
  
  .file--disabled > label {
    border-color: #e6e7ef;
    color: #e6e7ef;
    pointer-events: none;
  }
  .offer-status{
    font-size: 13px;
    font-weight: bold;
  }
